html,
body {
    margin: 0;
    padding: 0;
}

#pdf-container {
    position: relative;
    text-align: center;
}

.pdf-canvas {
    display: block;
    margin: 0 auto;
}

.link-overlay {
    position: absolute;
    border: 1px solid transparent;
    cursor: pointer;
    /* Uncomment for debugging: background-color: rgba(0, 0, 255, 0.2); */
}